# Type de base de données utilisée (ex: mariadb, postgres)
KC_DB=
# Hôte de la base de données (ex: localhost)
KC_DB_URL_HOST=
# Nom de la base de données
KC_DB_URL_DATABASE=
# Nom d'utilisateur pour la base de données
KC_DB_USERNAME=
# Mot de passe pour la base de données
KC_DB_PASSWORD=
# Nom d'utilisateur administrateur initial de Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=
# Mot de passe administrateur initial de Keycloak
KC_BOOTSTRAP_ADMIN_PASSWORD=
# Nom d'hôte du serveur Keycloak
KC_HOSTNAME=
# Activation des headers proxy (true/false)
KC_PROXY_HEADERS=
# Chemin vers le fichier certificat HTTPS
KC_HTTPS_CERTIFICATE_FILE=
# Chemin vers la clé privée du certificat HTTPS
KC_HTTPS_CERTIFICATE_KEY_FILE=

# Mot de passe root pour MariaDB
MARIADB_ROOT_PASSWORD=
# Nom de la base de données MariaDB
MARIADB_DATABASE=
# Nom d'utilisateur MariaDB
MARIADB_USER=
# Mot de passe utilisateur MariaDB
MARIADB_PASSWORD=

# Nom d'utilisateur admin Keycloak
KEYCLOAK_ADMIN=
# Mot de passe admin Keycloak
KEYCLOAK_ADMIN_PASSWORD=